.landing-banner {
    background-color: rgba(245,251,255,0.5);
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding: 0px 10px 25px;

    @media (max-width: 768px) {
        overflow: visible;
    }

    @media (max-width: 425px) {
        text-align: center;
    }

    .btn-primary,
    .btn-link {
        @media (max-width: 425px) {
            margin-bottom: 15px;
        }
    }

    &:before {
        content: "";
        height: 100%;
        width: 50%;
        right: 0;
        position: absolute;
        background-size: cover;
        background-image: url(/web/img/hero-image.jp);

        @media (max-width: 1024px) {
            right: -50px;
        }

        @media (max-width: 768px) {
            left: 0;
            opacity: 0.15;
            width: 100%;
        }
    }

    p {
        color: $banner-text-color;
    }

    .banner-slogan {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.5;

        @media (max-width: 768px) {
            font-size: 36px;
        }

        @media (max-width: 425px) {
            font-size: 30px;
        }
    }

    .btn-ico-action {
        margin-top: 120px;

        @media (max-width: 425px) {
            margin: 50px auto 0px;
        }
    }
   
}