.de-feature-wrapper {
    display: flex;
    margin-bottom: 20px;

    @media (min-width: 992px) {
        margin-bottom: 60px;
    }

    .feature-icon {
        flex: 0 0 90px;
    }

    .feature-content {
        padding: 0;

        @media (min-width: 992px) {
            padding: 0 25px 0 0;
        }
    }
}