.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt50 { margin-top: 50px !important; }

.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }

.mtb10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.max-width-750 {
    max-width: 750px;
}

.mtb40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.p50 { padding: 50px !important;}
.pt100 { padding-top: 100px !important; }

.pb40 { padding-bottom: 40px !important; }

.ptb100 {
    padding-bottom: 100px !important;
    padding-top: 100px !important;
}