@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

$primary-font: 'Poppins', sans-serif;
$base-font-size: 16px;

$body-text-color: rgba(16,53,83,0.8);
$heading-text-color: #0E4672;
$label-text-color: #209CFF;
$banner-text-color: #1465A3;
$hr-color: #eaf6ff;